{% extends "base.html.twig" %}

{% block title %}MonBlog Symfony | GESTION DES ARTICLES
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-4">GESTION DES CATEGORIES</h1>


{% endblock %}
